<div class="container mt-5 mb-5">
    <h1>contact</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2">
                <input class="form-control" type="text" placeholder="enter first name">
            </div>
            <div class="col-lg-6 mt-2">
                <input class="form-control" type="text" placeholder="enter last name">
            </div>
            <div class="col-lg-12 mt-2">
                <input class="form-control" type="text" placeholder="enter email address">
            </div>
            <div class="col-lg-12">
                <button class="btn btn-md btn-dark mt-3">submit</button>
            </div>
        </div>
    </form>
</div>